* {
  padding: 0;
  margin: 0;
}

html,body {
  min-height: 100% !important;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

html{
  font-size: 10px;
}

@media (min-width:100px){
  html{
    font-size:4px
  }
}

@media (min-width:576px){
  html{
    font-size: 5px;
  }
}

@media (min-width:768px){
  html{
    font-size:6px
  }
}

@media (min-width:992px){
  html{
    font-size:7px
  }
}

@media (min-width:1200px){
  html{
    font-size:10px
  }
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}

/* First Page - Navbar */

#wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

#first-page20 {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  position: fixed;
  width: 20%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  align-items: center;
  font-weight: 800;
}

#first-page20 .picture {
  display: flex;
  border-radius: 50%;
  height: 12rem;
  border: 10px solid #333;
  margin-top: 10rem;
}

#first-page20 .name {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

#first-page20 .navbar-item {
  margin: 2rem;
}

#first-page20 .navbar-item a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  transition: color .5s;
}

#first-page20 .navbar-item a:hover {
  color: #111418;
}




/* First Page - Media Queries */

@media (min-width:100px){
  #wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
  #first-page20 {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    width: 100%;
    height: 10%;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 800;
  }
  #first-page20 .picture {
    border-radius: 50%;
    height: 10rem;
    border: 2px solid #333;
    margin-top: auto;
    margin-left: 3rem;
  }
  #first-page20 .name {
    display: none;
  }
  #first-page20 .navbar-item {
    margin: auto;
  }
  #first-page20 .navbar-item a {
    font-size: 2.8rem;
    text-decoration: none;
    color: #fff;
    float: right;
  }
}

@media (min-width:576px){
  #wrapper {
    display: flex;
    height: 100%;
    width: 100%;
  }
    #first-page20 {
      flex-grow: 1;
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      width: 100%;
      height: 10%;
      position: absolute;
      display: flex;
      flex-direction: row;
      z-index: 1000;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-weight: 800;
    }
    #first-page20 .picture {
      border-radius: 50%;
      height: 10rem;
      border: 2px solid #333;
      margin-top: auto;
      margin-left: 3rem;
    }
    #first-page20 .name {
      display: none;
    }
    #first-page20 .navbar-item {
      margin: auto;
    }
    #first-page20 .navbar-item a {
      font-size: 2.8rem;
      text-decoration: none;
      color: #fff;
      float: right;
    }
}

@media (min-width:768px){
  #wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

#first-page20 {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  position: fixed;
  width: 20%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  align-items: center;
  font-weight: 800;
}

#first-page20 .picture {
  display: flex;
  border-radius: 50%;
  height: 14rem;
  border: 4px solid #333;
  margin-top: 10rem;
  margin-bottom: 1rem;
  margin-left: 0;
}

#first-page20 .name {
  display: flex;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 20rem;
}

#first-page20 .navbar-item {
  margin: 2rem;
}

#first-page20 .navbar-item a {
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
  pointer-events:visible;
}
}

@media (min-width:992px){
  #wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
  #first-page20 {
    position: fixed;
  }
  #first-page20 .picture {
    border: 5px solid #333;
    height: 15rem;
    margin-top: 10rem;
  }
  #first-page20 .name {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 15rem;
  }
  #first-page20 .navbar-item {
    margin: 3rem;
  }
  #first-page20 .navbar-item a {
    font-size: 2.5rem;
    text-decoration: none;
    color: #fff;
    /* pointer-events:visible; */
  }
}

@media (min-width:1200px){
  #wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
  #first-page20 {
    position: fixed;
  }
  #first-page20 .picture {
    border: 5px solid #333;
    margin-top: 8rem;
  }
  #first-page20 .name {
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 8rem;
  }
  #first-page20 .navbar-item {
    margin: 1.5rem;
  }
  #first-page20 .navbar-item a {
    font-size: 2.2rem;
    text-decoration: none;
    color: #fff;
    /* pointer-events:visible; */
  }
}

/* @media (max-width:992px){
  #first-page20 .picture {
    border: 5px solid #333;
    margin-top: 20rem;
  }
  #first-page20 .name {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 20rem;
  }
  #first-page20 .navbar-item {
    margin: 3rem;
  }
  #first-page20 .navbar-item a {
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
    pointer-events:visible;
  }
} */

#first-page80 {
  flex-grow: 4;
  width: 80%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-style: italic;
}

#first-page80 .welcome {
  color: rgb(180, 183, 185);
  transition: color, font-size 2s;
  font-size: 5rem;
  
}

#first-page80 .mainname {
  color: rgb(180, 183, 185);
  transition: color, font-size 2s;
  font-size: 6rem;
}

#first-page80 .mytitle {
  color: rgb(180, 183, 185);
  transition: color, font-size 2s;
  font-size: 4rem;
}

#first-page80 h1:hover {
  color: whitesmoke;
  font-size: 3rem;
  cursor: pointer;
}




@media (min-width:100px){
  #first-page80 {
    flex-grow: 4;
    width: 100%;
    height: 90%;
    background-color: transparent;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-style: italic;
  }
  #first-page80 .welcome {
    color: rgb(180, 183, 185);
    font-size: 5rem;
  }
  #first-page80 .mainname {
    color: rgb(180, 183, 185);
    font-size: 5.5rem;
  }
  #first-page80 .mytitle {
    color: rgb(180, 183, 185);
    font-size: 4rem;
  }
}

@media (min-width:576px){
  #first-page80 .welcome {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 7.5rem;
  }
  #first-page80 .mainname {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 6rem;
  }
  #first-page80 .mytitle {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 4rem;
  }
}

@media (min-width:768px){
  #first-page80 .welcome {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 7.5rem;
  }
  #first-page80 .mainname {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 6rem;
  }
  #first-page80 .mytitle {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 4rem;
  }
}

@media (min-width:992px){
  #first-page80 .welcome {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 7.5rem;
  }
  #first-page80 .mainname {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 6rem;
  }
  #first-page80 .mytitle {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 4rem;
  }
}

@media (min-width:1200px){
  #first-page80 .welcome {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 7.5rem;
  }
  #first-page80 .mainname {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 6rem;
  }
  #first-page80 .mytitle {
    color: rgb(180, 183, 185);
    transition: color, font-size 2s;
    font-size: 4rem;
  }
}




/* Second Page - About Me */

#about-me-page {
  width: 100%;
  height: 100%;
  background-color: black;
}

.about-me-page20 {
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  float: left;
}

.about-me-page80 {
  width: 80%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-me-page-top {
  width: 100%;
  height: 25vh;
  background-color: black;
  color: #fff;
  font-size: 6rem;
  margin-top: 10rem;
}

.about-me-page-center {
  width: 100%;
  height: 50vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

.about-me-page-center .right {
  width: 60%;
  height: 50vh;
  background-color: black;
  float: left;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  margin: 2rem;
  padding: 2rem;
}

.about-me-page-center .left {
  width: 30%;
  height: 50vh;
  background-color: black;
  float: right;
  display: block;
  color: #fff;
  margin-top: 5rem;
  margin-left: 3rem;
  font-size: 2rem;
  padding-top: 0rem;
}

.about-me-page-center .left .cv-button {
  background-color: gray;
  font-size: 1rem;
  box-sizing:border-box;
  position: absolute;
  width: 10%;
  height: 4rem;
  margin-top: 5rem;
  /* margin-left: 5rem; */
  border-radius: 5rem;
  transition: background-color 1s;
}

.about-me-page-center .left .cv-button:hover {
  background-color: #111418;
  cursor: pointer;
}

.about-me-page-bottom {
  width: 100%;
  height: 25vh;
  background-color: black;
}

/* Second Page - Media Queries */

@media (min-width:100px){
  #about-me-page {
    width: 100%;
    height: 100%;
  }
  .about-me-page20 {
    width: 0%;
    height: 100%;
  }
  .about-me-page80 {
    width: 100%;
    height: 100%;
  }
  .about-me-page-top {
    width: 100%;
    height: 30vh;
    background-color: black;
    font-size: 8rem;
    margin-top: 25rem;
    margin-bottom: 15rem;
  }
  .about-me-page-center {
    width: 100%;
    height: 70vh;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin: auto;
  }
  .about-me-page-center .right{
    width: 70%;
    height: 80vh;
    background-color: black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 15rem;
  }
  .about-me-page-center .left{
    width: 74%;
    height: 80vh;
    background-color: black;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: left;
    /* align-items: center; */
    margin: auto;
    margin-bottom: 20rem;
  }
  .about-me-page-center .left .cv-button {
    background-color: gray;
    font-size: 1.8rem;
    box-sizing:border-box;
    position: relative;
    width: 18%;
    height: 8rem;
    margin-left:auto;
    border-radius: 5rem;
  }
}


@media (min-width:576px){
  #about-me-page {
    width: 100%;
    height: 100%;
  }
  .about-me-page20 {
    width: 0%;
    height: 100%;
  }
  .about-me-page80 {
    width: 100%;
    height: 100%;
  }
  .about-me-page-top {
    width: 100%;
    height: 30vh;
    background-color: black;
    font-size: 8rem;
    margin-top: 25rem;
    margin-bottom: 15rem;
  }
  .about-me-page-center {
    width: 100%;
    height: 70vh;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin: auto;
  }
  .about-me-page-center .right{
    width: 70%;
    height: 80vh;
    background-color: black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 15rem;
  }
  .about-me-page-center .left{
    width: 74%;
    height: 80vh;
    background-color: black;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: left;
    /* align-items: center; */
    margin: auto;
    margin-bottom: 20rem;
  }
  .about-me-page-center .left .cv-button {
    background-color: gray;
    font-size: 1.8rem;
    box-sizing:border-box;
    position: relative;
    width: 18%;
    height: 8rem;
    margin-left:auto;
    border-radius: 5rem;
  }
}

@media (min-width:768px){
  #about-me-page {
    width: 100%;
    height: 100%;
    background-color: black;
  }
  
  .about-me-page20 {
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    float: left;
  }
  
  .about-me-page80 {
    width: 80%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .about-me-page-top {
    width: 100%;
    height: 30vh;
    background-color: black;
    color: #fff;
    font-size: 7rem;
    margin-top: 15rem;
  }
  
  .about-me-page-center {
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
  
  .about-me-page-center .right {
    width: 70%;
    height: 50vh;
    background-color: black;
    float: left;
    color: #fff;
    display: block;
    font-size: 2rem;
    margin: 3rem;
  }
  
  .about-me-page-center .left {
    width: 30%;
    height: 50vh;
    background-color: black;
    float: right;
    display: block;
    color: #fff;
    margin-top: 10rem;
    margin-left: 2rem;
    font-size: 1.6rem;
  }
  
  .about-me-page-center .left .cv-button {
    background-color: gray;
    font-size: 2rem;
    box-sizing:border-box;
    position: absolute;
    width: 13%;
    height: 5rem;
    margin-top: 5rem;
    /* margin-left: 5rem; */
    border-radius: 5rem;
    transition: background-color 1s;
  }
  .about-me-page-center .left .cv-button:hover {
    background-color: #111418;
    cursor: pointer;
  }
  .about-me-page-bottom {
    width: 100%;
    height: 20vh;
    background-color: black;
  }
}

@media (min-width:992px){
  #about-me-page {
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .about-me-page20 {
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    float: left;
  }
  .about-me-page80 {
    width: 80%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .about-me-page-top {
    width: 100%;
    height: 30vh;
    background-color: black;
    color: #fff;
    font-size: 7rem;
    margin-top: 15rem;
  }
  .about-me-page-center {
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
  .about-me-page-center .right {
    width: 70%;
    height: 50vh;
    background-color: black;
    float: left;
    color: #fff;
    display: block;
    font-size: 2rem;
  }
  .about-me-page-center .left {
    width: 30%;
    height: 50vh;
    background-color: black;
    float: right;
    display: block;
    color: #fff;
    margin-top: 8rem;
    font-size: 1.6rem;
  }
  
  .about-me-page-center .left .cv-button {
    background-color: gray;
    font-size: 2rem;
    box-sizing:border-box;
    position: absolute;
    width: 13%;
    height: 5rem;
    margin-top: 5rem;
    /* margin-left: 5rem; */
    border-radius: 5rem;
    transition: background-color 1s;
  }
  .about-me-page-center .left .cv-button:hover {
    background-color: #111418;
    cursor: pointer;
  }
  .about-me-page-bottom {
    width: 100%;
    height: 20vh;
    background-color: black;
  }
}

@media (min-width:1200px){
  #about-me-page {
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .about-me-page20 {
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    float: left;
  }
  .about-me-page80 {
    width: 80%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .about-me-page-top {
    width: 100%;
    height: 20vh;
    background-color: black;
    color: #fff;
    font-size: 7rem;
    margin-top: 5rem;
  }
  .about-me-page-center {
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
  .about-me-page-center .right {
    width: 70%;
    height: 50vh;
    background-color: black;
    float: left;
    color: #fff;
    display: block;
    box-sizing: border-box;
    font-size: 1.8rem;
  }
  .about-me-page-center .left {
    width: 30%;
    height: 50vh;
    background-color: black;
    box-sizing: border-box;
    float: right;
    display: block;
    color: #fff;
    font-size: 1.5rem;
    padding-top: 3rem;
  }
  
  .about-me-page-center .left .cv-button {
    background-color: gray;
    font-size: 2rem;
    box-sizing:border-box;
    position: absolute;
    width: 13%;
    height: 5rem;
    margin-top: 5rem;
    /* margin-left: 5rem; */
    border-radius: 5rem;
    transition: background-color 1s;
  }
  .about-me-page-center .left .cv-button:hover {
    background-color: #111418;
    cursor: pointer;
  }
  .about-me-page-bottom {
    width: 100%;
    height: 20vh;
    background-color: black;
  }
}




/* Third Page - Skills */

#skills-page {
  width: 100%;
  height: 100vh;
  background-color: #111418;
}

.skills-page20 {
  width: 20%;
  height: 100%;
  background-color: #111418;
  float: left;
}

.skills-page80 {
  width: 80%;
  height: 100%;
  background-color: #111418;
  flex-direction: column;
  display: flex;
  color: #fff;
  text-align: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

#skills-page h1 {
  font-size: 5rem;
}

.divider {
  width: 80%;
  margin: 0 auto;
}

.skills-page80 .item {
  padding: 8rem;
  margin: 1rem;
  background-color: #111418;
  color: #fff;
  font-size: 10rem;
  justify-content: space-evenly;
  display: flex;
}



/* Skills Media Queries */

@media (min-width:100px){
  #skills-page {
    width: 100%;
    height: 100vh;
    background-color: #111418;
  }
  
  .skills-page20 {
    width: 0%;
    height: 100%;
    background-color: #111418;
    float: left;
  }
  
  .skills-page80 {
    width: 100%;
    height: 100%;
    background-color: #111418;
    flex-direction: column;
    display: flex;
    color: #fff;
    text-align: center;
    justify-content: center;
    /* flex-wrap: wrap; */
  }
  
  #skills-page h1 {
    font-size: 8rem;
    margin-bottom: 30rem;
  }
  
  .divider {
    width: 80%;
    margin: 0 auto;
  }
  
  .skills-page80 .item {
    /* padding: 10rem;
    margin: 0rem; */
    background-color: #111418;
    color: #fff;
    font-size: 12rem;
    justify-content: space-evenly;
    display: flex;
  }
}

@media (min-width:576px){
  #skills-page {
    width: 100%;
    height: 100vh;
    background-color: #111418;
  }
  
  .skills-page20 {
    width: 0%;
    height: 100%;
    background-color: #111418;
    float: left;
  }
  
  .skills-page80 {
    width: 100%;
    height: 100%;
    background-color: #111418;
    flex-direction: column;
    display: flex;
    color: #fff;
    text-align: center;
    justify-content: center;
    /* flex-wrap: wrap; */
  }
  
  #skills-page h1 {
    font-size: 9rem;
    margin-bottom: 30rem;
  }
  
  .divider {
    width: 80%;
    margin: 0 auto;
  }
  
  .skills-page80 .item {
    /* padding: 10rem;
    margin: 0rem; */
    background-color: #111418;
    color: #fff;
    font-size: 12rem;
    justify-content: space-evenly;
    display: flex;
  }
}

@media (min-width:768px){
  #skills-page {
    width: 100%;
    height: 100vh;
    background-color: #111418;
  }
  
  .skills-page20 {
    width: 20%;
    height: 100%;
    background-color: #111418;
    float: left;
  }
  
  .skills-page80 {
    width: 80%;
    height: 100%;
    background-color: #111418;
    flex-direction: column;
    display: flex;
    color: #fff;
    text-align: center;
    justify-content: center;
    /* flex-wrap: wrap; */
  }
  
  #skills-page h1 {
    font-size: 9rem;
    margin-bottom: 30rem;
  }
  
  .divider {
    width: 80%;
    margin: 0 auto;
  }
  
  .skills-page80 .item {
    /* padding: 10rem;
    margin: 0rem; */
    background-color: #111418;
    color: #fff;
    font-size: 12rem;
    justify-content: space-evenly;
    display: flex;
  }
}

@media (min-width:992px){
  #skills-page {
    width: 100%;
    height: 100vh;
    background-color: #111418;
  }
  
  .skills-page20 {
    width: 20%;
    height: 100%;
    background-color: #111418;
    float: left;
  }
  
  .skills-page80 {
    width: 80%;
    height: 100%;
    background-color: #111418;
    flex-direction: column;
    display: flex;
    color: #fff;
    text-align: center;
    justify-content: center;
    /* flex-wrap: wrap; */
  }
  
  #skills-page h1 {
    font-size: 8rem;
    margin-bottom: 10rem;
    box-sizing: border-box;
    /* margin-top: 15rem; */
  }
  
  .divider {
    width: 80%;
    margin: 0 auto;
  }
  
  .skills-page80 .item {
    /* padding: 10rem;
    margin: 0rem; */
    background-color: #111418;
    color: #fff;
    font-size: 10rem;
    justify-content: space-evenly;
    display: flex;
  }
}

@media (min-width:1200px){
  #skills-page {
    width: 100%;
    height: 100vh;
    background-color: #111418;
  }
  
  .skills-page20 {
    width: 20%;
    height: 100%;
    background-color: #111418;
    float: left;
  }
  
  .skills-page80 {
    width: 80%;
    height: 100%;
    background-color: #111418;
    flex-direction: column;
    display: flex;
    color: #fff;
    text-align: center;
    justify-content: center;
    /* flex-wrap: wrap; */
  }
  
  #skills-page h1 {
    font-size: 7rem;
    /* margin-bottom: 10rem; */
    /* margin-top: 10rem; */
  }
  
  .divider {
    width: 80%;
    margin: 0 auto;
  }
  
  .skills-page80 .item {
    /* padding: 10rem;
    margin: 0rem; */
    background-color: #111418;
    color: #fff;
    font-size: 8rem;
    justify-content: space-evenly;
    display: flex;
  }
  
}




/* Forth Page - Project Page */

#project-page {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.project-page20 {
  width: 20%;
  height: 100%;
  background-color: black;
  float: left;
}

.project-page80 {
  width: 80%;
  height: 100vh;
  background-color: black;
  color: #fff;
  flex-direction: column;
  overflow: hidden;
}

.project-page-top {
  width: 60%;
  height: 30%;
  background-color: black;
  float: left;
  border-left: 3px solid gray;
}

.project-page-center {
  width: 60%;
  height: 30%;
  background-color: black;
  float: right;
  border-left: 3px solid gray;
}

.project-page-bottom {
  width: 60%;
  height: 30%;
  background-color: black;
  float: left;
  border-left: 3px solid gray;
}

#project-page .projects-title {
  font-size: 4rem;
  margin: 1rem;
  margin-left: 10rem;
}

#project-page p {
  font-size: 2rem;
  /* margin: 2rem; */
}

#project-page h2 {
  font-size: 3rem;
  /* margin: 6rem; */
}


/* Projects Media Queries */

@media (min-width:100px){
  #project-page {
    width: 100%;
    height: 100vh;
    background-color: black;
  }
  
  .project-page20 {
    width: 0%;
    height: 100%;
    background-color: black;
    float: left;
  }
  
  .project-page80 {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    flex-direction: column;
    overflow: hidden;
  }
  
  .project-page-top {
    width: 60%;
    height: 20%;
    background-color: black;
    float: left;
    margin-left: 10rem;
    margin-top: 10rem;
    border-left: 3px solid gray;
    padding-left: 5rem;
    padding-top: 5rem;
  }
  
  .project-page-center {
    width: 60%;
    height: 20%;
    background-color: black;
    float: right;
    margin-top: 10rem;
    margin-right: 10rem;
    border-left: 3px solid gray;
    padding-left: 5rem;
    padding-top: 5rem;
  }
  
  .project-page-bottom {
    width: 60%;
    height: 20%;
    background-color: black;
    float: left;
    margin-top: 10rem;
    margin-left: 10rem;
    padding-left: 5rem;
    padding-top: 5rem;
  }
  
  #project-page .projects-title {
    font-size: 6rem;
    margin-bottom: 5rem;
    margin-top: 15rem;
    margin-left: 10rem;
  }
  
  #project-page p {
    font-size: 3rem;
    margin-top: 5rem;
    padding-left: 5rem;
  }
  
  #project-page h2 {
    font-size: 3.5rem;
    text-align: left;
  }
}

@media (min-width:576px){
  #project-page {
    width: 100%;
    height: 100vh;
    background-color: black;
  }
  
  .project-page20 {
    width: 0%;
    height: 100%;
    background-color: black;
    float: left;
  }
  
  .project-page80 {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    flex-direction: column;
    overflow: hidden;
  }
  
  .project-page-top {
    width: 60%;
    height: 20%;
    background-color: black;
    float: left;
    margin-left: 10rem;
    margin-top: 5rem;
    border-left: 3px solid gray;
    padding-left: 5rem;
    padding-top: 5rem;
  }
  
  .project-page-center {
    width: 60%;
    height: 20%;
    background-color: black;
    float: right;
    margin-top: 5rem;
    margin-right: 10rem;
    border-left: 3px solid gray;
    padding-left: 5rem;
    padding-top: 5rem;
  }
  
  .project-page-bottom {
    width: 60%;
    height: 20%;
    background-color: black;
    float: left;
    margin-top: 5rem;
    margin-left: 10rem;
    padding-left: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  #project-page .projects-title {
    font-size: 6rem;
    margin-bottom: 5rem;
    margin-top: 15rem;
    margin-left: 10rem;
  }
  
  #project-page p {
    font-size: 2.7rem;
    margin-top: 5rem;
    padding-left: 5rem;
  }
  
  #project-page h2 {
    font-size: 3.2rem;
    text-align: left;
  }
}

@media (min-width:768px){
  #project-page {
    width: 100%;
    height: 100vh;
    background-color: black;
  }
  
  .project-page20 {
    width: 20%;
    height: 100%;
    background-color: black;
    float: left;
  }
  
  .project-page80 {
    width: 80%;
    height: 100vh;
    background-color: black;
    color: #fff;
    flex-direction: column;
    overflow: hidden;
  }
  
  .project-page-top {
    width: 65%;
    height: 15%;
    background-color: black;
    float: left;
    margin-left: 10rem;
    /* margin-top: 5rem; */
    border-left: 3px solid gray;
    padding-left: 5rem;
    padding-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .project-page-center {
    width: 65%;
    height: 15%;
    background-color: black;
    float: right;
    margin-top: 5rem;
    margin-right: 10rem;
    border-left: 3px solid gray;
    padding-left: 5rem;
    padding-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .project-page-bottom {
    width: 65%;
    height: 15%;
    background-color: black;
    float: left;
    margin-top: 5rem;
    margin-left: 10rem;
    padding-left: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }
  
  #project-page .projects-title {
    font-size: 6rem;
    margin-top: 12rem;
    margin-left: 10rem;
  }
  
  #project-page p {
    font-size: 2.5rem;
    margin-top: 5rem;
    padding-left: 5rem;
  }
  
  #project-page h2 {
    font-size: 3.2rem;
    text-align: left;
  }
}

@media (min-width:992px){
  #project-page {
    width: 100%;
    height: 100vh;
    background-color: black;
  }
  
  .project-page20 {
    width: 20%;
    height: 100%;
    background-color: black;
    float: left;
  }
  
  .project-page80 {
    width: 80%;
    height: 100vh;
    background-color: black;
    color: #fff;
    flex-direction: column;
    overflow: hidden;
  }
  
  .project-page-top {
    width: 70%;
    height: 15%;
    background-color: black;
    float: left;
    margin-left: 10rem;
    /* margin-top: 5rem; */
    border-left: 3px solid gray;
    padding-left: 5rem;
    padding-top: 3rem;
  }
  
  .project-page-center {
    width: 70%;
    height: 15%;
    background-color: black;
    float: right;
    margin-top: 2rem;
    margin-right: 10rem;
    border-left: 3px solid gray;
    padding-left: 5rem;
    padding-top: 5rem;
  }
  
  .project-page-bottom {
    width: 70%;
    height: 15%;
    background-color: black;
    float: left;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-left: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  #project-page .projects-title {
    font-size: 6rem;
    margin-top: 12rem;
    margin-left: 10rem;
  }
  
  #project-page p {
    font-size: 2.5rem;
    margin-top: 5rem;
    padding-left: 5rem;
  }
  
  #project-page h2 {
    font-size: 3.2rem;
    text-align: left;
  }
}

@media (min-width:1200px){
  #project-page {
    width: 100%;
    height: 100vh;
    background-color: black;
  }
  
  .project-page20 {
    width: 20%;
    height: 100%;
    background-color: black;
    float: left;
  }
  
  .project-page80 {
    width: 80%;
    height: 100vh;
    background-color: black;
    color: #fff;
    flex-direction: column;
    overflow: hidden;
  }
  
  .project-page-top {
    width: 70%;
    height: 12%;
    background-color: black;
    float: left;
    margin-left: 10rem;
    /* margin-top: 5rem; */
    border-left: 3px solid gray;
    padding-left: 5rem;
    padding-top: 2rem;
  }
  
  .project-page-center {
    width: 70%;
    height: 12%;
    background-color: black;
    float: right;
    margin-top: 1rem;
    margin-right: 10rem;
    border-left: 3px solid gray;
    padding-left: 5rem;
    padding-top: 2rem;
  }
  
  .project-page-bottom {
    width: 70%;
    height: 12%;
    background-color: black;
    float: left;
    margin-top: 1rem;
    margin-left: 10rem;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  
  #project-page .projects-title {
    font-size: 5rem;
    margin-top: 5rem;
    margin-left: 10rem;
  }
  
  #project-page p {
    font-size: 1.8rem;
    margin-top: 2rem;
    padding-left: 5rem;
  }
  
  #project-page h2 {
    font-size: 2.3rem;
    text-align: left;
  }
}




/* Contact */

/* #contact {
  width: 100%;
  height: 50vh;
  background-color: black;
} */

#contact .contact20 {
  width: 20%;
  height: 50%;
  background-color: black;
  float: left;
}

#contact .contact80 {
  width: 80%;
  height: 50%;
  background-color: #111418;
  flex-direction: column;
  display: flex;
  color: #fff;
  text-align: center;
  /* justify-content: center; */
}

.divider2 {
  width: 70%;
  margin: 0 auto;
}

.contact80 h1{
  font-size: 4rem;
  margin-top: 4rem;
  margin-left: 5rem;
  position: absolute;
  left: auto;
}

.contact-items {
  display: flex;
  justify-content: space-evenly;
  margin: auto auto;
  font-size: 5rem;
}

.contact-li {
  display: flex;
  margin: 4rem;
  justify-content: center;
  font-size: 10rem;
}

.contact-gh {
  display: flex;
  margin: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.contact-go {
  display: flex;
  margin: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}


/* Contact Media Queries */

@media (min-width:100px){
  /* #contact {
    width: 100%;
    height: 50%;
  } */
  
  #contact .contact20 {
    width: 0%;
    height: 50%;
    background-color: black;
    float: left;
  }
  
  #contact .contact80 {
    width: 100%;
    height: 50%;
    background-color: #111418;
    flex-direction: column;
    display: flex;
    color: #fff;
    text-align: center;
    /* justify-content: center; */
  }
  
  .divider2 {
    width: 70%;
    margin: 0 auto;
  }
  
  .contact80 h1{
    font-size: 3rem;
    margin-top: 4rem;
    margin-left: 8rem;
    position: absolute;
    left: auto;
  }
  
  .contact-items {
    display: flex;
    justify-content: space-evenly;
    margin: auto auto;
    font-size: 5rem;
  }
  
  .contact-li {
    display: flex;
    margin: 4rem;
    justify-content: center;
    font-size: 10rem;
  }
  
  .contact-gh {
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }
  
  .contact-go {
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }
}

@media (min-width:576px){
  /* #contact {
    width: 100%;
    height: 50%;
  } */
  
  #contact .contact20 {
    width: 0%;
    height: 50%;
    background-color: black;
    float: left;
  }
  
  #contact .contact80 {
    width: 100%;
    height: 50%;
    background-color: #111418;
    flex-direction: column;
    display: flex;
    color: #fff;
    text-align: center;
    /* justify-content: center; */
  }
  
  .divider2 {
    width: 70%;
    margin: 0 auto;
  }
  
  .contact80 h1{
    font-size: 4rem;
    margin-top: 4rem;
    margin-left: 10rem;
    position: absolute;
    left: auto;
  }
  
  .contact-items {
    display: flex;
    justify-content: space-evenly;
    margin: auto auto;
    font-size: 5rem;
  }
  
  .contact-li {
    display: flex;
    margin: 4rem;
    justify-content: center;
    font-size: 10rem;
  }
  
  .contact-gh {
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }
  
  .contact-go {
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }
}

@media (min-width:768px){
  /* #contact {
    width: 100%;
    height: 50%;
  } */
  
  #contact .contact20 {
    width: 20%;
    height: 50%;
    background-color: black;
    float: left;
  }
  
  #contact .contact80 {
    width: 100%;
    height: 50%;
    background-color: #111418;
    flex-direction: column;
    display: flex;
    color: #fff;
    text-align: center;
    /* justify-content: center; */
  }
  
  .divider2 {
    width: 50%;
    /* margin: 0 auto; */
    margin-left: 50rem;
  }
  
  .contact80 h1{
    font-size: 3.5rem;
    margin-top: 4rem;
    margin-left: 35rem;
    position: absolute;
    left: auto;
  }
  
  .contact-items {
    display: flex;
    justify-content: space-evenly;
    margin: auto auto;
    font-size: 5rem;
    margin-top: 5rem;
    margin-left: 60rem;
  }
  
  .contact-li {
    display: flex;
    margin: 4rem;
    justify-content: center;
    font-size: 10rem;
  }
  
  .contact-gh {
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }
  
  .contact-go {
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }
}

@media (min-width:992px){
  /* #contact {
    width: 100%;
    height: 50%;
  } */
  
  #contact .contact20 {
    width: 20%;
    height: 50%;
    background-color: black;
    float: left;
  }
  
  #contact .contact80 {
    width: 100%;
    height: 50%;
    background-color: #111418;
    flex-direction: column;
    display: flex;
    color: #fff;
    text-align: center;
    /* justify-content: center; */
  }
  
  .divider2 {
    width: 50%;
    /* margin: 0 auto; */
    margin-left: 50rem;
  }
  
  .contact80 h1{
    font-size: 3.5rem;
    margin-top: 4rem;
    margin-left: 45rem;
    position: absolute;
    left: auto;
  }
  
  .contact-items {
    display: flex;
    justify-content: space-evenly;
    margin: auto auto;
    font-size: 5rem;
    margin-top: 5rem;
    margin-left: 70rem;
  }
  
  .contact-li {
    display: flex;
    margin: 4rem;
    justify-content: center;
    font-size: 10rem;
  }
  
  .contact-gh {
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }
  
  .contact-go {
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }
}

@media (min-width:1200px){
  /* #contact {
    width: 100%;
    height: 50%;
  } */
  
  #contact .contact20 {
    width: 20%;
    height: 50%;
    background-color: black;
    float: left;
  }
  
  #contact .contact80 {
    width: 100%;
    height: 50%;
    background-color: #111418;
    flex-direction: column;
    display: flex;
    color: #fff;
    text-align: center;
    /* justify-content: center; */
  }
  
  .divider2 {
    width: 50%;
    /* margin: 0 auto; */
    margin-left: 50rem;
  }
  
  .contact80 h1{
    font-size: 3.5rem;
    margin-top: 5rem;
    margin-left: 40rem;
    position: absolute;
    left: auto;
  }
  
  .contact-items {
    display: flex;
    justify-content: space-evenly;
    margin: auto auto;
    font-size: 5rem;
    margin-top: 5rem;
    margin-left: 65rem;
  }
  
  .contact-li {
    display: flex;
    margin: 4rem;
    justify-content: center;
    font-size: 10rem;
  }
  
  .contact-gh {
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }
  
  .contact-go {
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }
}